@media (max-width: 768px) {
    .col-geolocaliza {
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
        max-width: 100%;
    }
    .col-geolocaliza1 {
        height: 380px;
    }
    .col-geolocaliza2 {
        overflow-y: hidden;
        overflow-x: scroll;
        height: 402px;
        border: 1px solid red;
    }
    .btn-fraccion {
        -ms-flex: 0 0 42%;
            flex: 0 0 42%;
        max-width: 100%;
        margin: 8px;
    }
    .list-fraccion {
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-left: 12%;
    }
}