/********** Template CSS **********/
/*=========== TABLE OF CONTENTS ===========
1.  CSS General
2.  Header
A.  Home
  3.  Hero home
  4.  Propiedades
  5.  Fraccionamiento destacado
  6.  Lista propiedades
  7.  Testimonios
  8.  Contador
  9.  Por qué
  10. Blog
  11. FAQ
  12. Testimonios
  13. Banner WS
B.  Portafolio
  14. Hero Portafo
  15. Filtro Portafo
  16. Agendar Portafo
C.  Servicios
  17. Hero Servicios
  18. Contenido servicios
  19. Credenciales
  20. Misión/Visión
  21. Valores
D.  Promociones
  22. Contenido promociones
E.  Contacto
  23. Contenido contacto
F.  Proyectos
  24. Hero proyectos
  25. Contenido proyectos
Footer
===========================================*/
/*=====================================
  1.  CSS General
=======================================*/
:root {
    --verde-osc: #5e8b14;
    --verde-cla: #778f55;
    --azul-osc: #0b2635;
    --azul-med: #294d5a;
    --blanco: #fff;
    --titulo: 35px;
    --titulo-grd: 56px;
    --titulo-grd-1: 40px;
    --titulo-tlf: 30px;
    --titulo-tlf-1: 25px;
    --subtitu: 22px;
    --subtitu-grd: 33px;
    --subtitu-tlf: 20px;
    --parrafo: 15px;
    --parrafo-grd: 21px;
    --parrafo-grd-1: 19px;
    --parrafo-tlf: 13px;

    --primary: #00B98E;
    --secondary: #FF6922;
    --light: #EFFDF5;
    --dark: #0E2E50;
}

/*fuentes*/
/*mont*/
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-ThinItalic.woff2') format('woff2'),
        url('../fonts/mont/Mont-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-Thin.woff2') format('woff2'),
        url('../fonts/mont/Mont-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-ExtraLight.woff2') format('woff2'),
        url('../fonts/mont/Mont-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/mont/Mont-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-Light.woff2') format('woff2'),
        url('../fonts/mont/Mont-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-LightItalic.woff2') format('woff2'),
        url('../fonts/mont/Mont-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-Regular.woff2') format('woff2'),
        url('../fonts/mont/Mont-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-RegularItalic.woff2') format('woff2'),
        url('../fonts/mont/Mont-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-SemiBold.woff2') format('woff2'),
        url('../fonts/mont/Mont-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/mont/Mont-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-Bold.woff2') format('woff2'),
        url('../fonts/mont/Mont-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-BoldItalic.woff2') format('woff2'),
        url('../fonts/mont/Mont-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-Heavy.woff2') format('woff2'),
        url('../fonts/mont/Mont-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-HeavyItalic.woff2') format('woff2'),
        url('../fonts/mont/Mont-HeavyItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-Black.woff2') format('woff2'),
        url('../fonts/mont/Mont-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Mont';
    src: url('../fonts/mont/Mont-BlackItalic.woff2') format('woff2'),
        url('../fonts/mont/Mont-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/*soul*/
@font-face {
    font-family: 'Soul Signature';
    src: url('../fonts/soul_signature/SoulSignature.woff2') format('woff2'),
        url('../fonts/soul_signature/SoulSignature.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/*winlove*/
@font-face {
    font-family: 'Winlove - Personal Use';
    src: url('../fonts/winlove/WinlovePersonalUse.woff2') format('woff2'),
        url('../fonts/winlove/WinlovePersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 79px;
    bottom: 45px;
    z-index: 99;
}

/* body {
    overflow-x: hidden;
} */

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.nav-bar {
    position: relative;
    margin-top: 45px;
    padding: 0 3rem;
    transition: .5s;
    z-index: 9999;
}

.nav-bar.sticky-top {
    position: sticky;
    padding: 0;
    z-index: 9999;
}

.navbar {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

@media (max-width: 991.98px) {
    .nav-bar {
        margin: 0;
        padding: 0;
    }

    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand {
    height: 75px;
}



@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
@media (min-width: 992px) {
    .header {
        margin-top: -120px;
    }
}

.txt-acento-ng {
    font-weight: 700 !important;
}
.txt-acento-cursi {
    font-family: 'Winlove - Personal Use' !important;
}
.txt-acento-cla {
    color: var(--verde-cla) !important;
}
.txt-acento {
    color: var(--verde-osc) !important;
}
.txt-acento-ub {
    font-weight: 800 !important;
    color: var(--verde-osc) !important;
}
.txt-acento-ub-1 {
    font-weight: 900 !important;
    letter-spacing: 4px !important;
}
.txt-acento-ub-2 {
    font-weight: 800 !important;
}
.txt-acento-b {
    font-weight: 700 !important;
}
.txt-acento-ital {
    font-style: italic !important;
}
.txt-acento1 {
    color: var(--azul-osc) !important;
}
.txt-acento-bla {
    color: #fff !important;
}

.bg-verde-claro {
    background-color: var(--verde-cla) !important;
}

.bg-verde {
    background-color: var(--verde-osc) !important;
}

.btn-bcktop, .btn-bcktop:hover {
    color: var(--blanco);
    border: 2px solid var(--blanco);
    border-radius: 100px;
    background-color: var(--azul-osc);
}
.btn-bcktop:focus {
    color: var(--blanco);
    box-shadow: 0 0 0 .25rem rgba(11, 38, 53, 0.5);
}

/* migas de pan en heros*/
.breadcrumb-item + .breadcrumb-item::before, .breadcrumb-item.active {
    color: var(--azul-osc);
}
.breadcrumb-item a {
    color: var(--verde-osc)
}

.bg-claro {
    background-color: rgba(167, 195, 128, 0.2) !important;
}

.btn-active {
    color: var(--blanco) !important;
    border: 2px solid var(--azul-osc) !important;
    background-color: var(--azul-osc) !important;
}

.text-acento {
    color: var(--verde-osc);
}

.btn-busca {
    padding: 11px;
    color: var(--blanco);
    font-weight: 500;
    border: 2px solid var(--azul-osc);
    border-radius: 15px;
    background-color: var(--azul-osc);
}
.btn-busca:hover {
    color: var(--blanco);
}

.form-busca option:checked {
    color: var(--blanco);
    background-color: var(--verde-cla);
}

.underline-dots {
    display: flex;
    justify-content: space-evenly;
    width: 164px;
    margin: 10px auto 21px;
}

.underline-dots-1 {
    display: flex;
    justify-content: space-between;
    width: 164px;
    margin: -16px 100% 21px auto;
}

.underline-dots-2 {
    display: flex;
    justify-content: space-between;
    width: 164px;
    margin: -16px 100% 21px auto;
}

.circul {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: var(--verde-osc);
}
.circul-1 {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--blanco);
}

.underline-ver {
    width: 283px;
    height: 4px;
    margin: 10px auto 21px;
    background-color: var(--verde-cla);
}
.underline-ver-1 {
    width: 443px;
    height: 4px;
    margin: -16px 100% 21px auto;
    background-color: var(--verde-osc);
}

.underline-ver-2 {
    width: 535px;
    height: 4px;
    margin: -16px auto 21px;
    background-color: var(--blanco);
}

.list-none {
    list-style: none;
}

/* acordeon redes */
.btn-colapse {
    position: fixed;
    right: 73px;
	bottom: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 84px;
	z-index: 999;
}
.btn-contac {
    color: var(--blanco);
    border: 2px solid var(--blanco);
    border-radius: 100%;
    background-color: var(--azul-osc);
    transition: all 0.3s ease-in-out;
}
.btn-contac:hover {
    color: var(--azul-osc);
    border: 2px solid var(--azul-osc);
    background-color: var(--blanco);
}
.card-rrss {
    background-color: var(--azul-osc) !important;
}
.btn-rrss-1 {
    margin-bottom: 14px;
}
.btn-rrss {
    padding: 22px;
    color: var(--azul-osc);
    border: 2px solid var(--blanco);
    border-radius: 100%;
    background-color: var(--blanco);
    transition: all 0.3s ease-in-out;
}
.btn-rrss:hover {
    color: var(--blanco);
    border: 2px solid var(--blanco);
    background-color: var(--azul-osc);
}

/*=====================================
  2.  Header
=======================================*/
.navbar-nav {
    align-items: center;
}
.logo-header {
    width: 250px;
    height: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--azul-osc);
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--verde-osc);
}

.btn-head {
    padding: 14px;
    color: var(--azul-osc);
    font-weight: 500;
    border: 2px solid var(--azul-osc);
    border-radius: 15px;
    transition: all 0.3s ease;
}
.btn-head:hover {
    border: 2px solid var(--azul-osc);
    color: var(--blanco);
    background-color: var(--azul-osc);
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--blanco);
    background-color: var(--verde-osc);
}
.dropdown-item:hover {
    background-color: rgba(119, 143, 85, 0.3);
}

/*=====================================
  A.  Home
=======================================*/
/*-------------------------------------
    3.  Hero home
--------------------------------------*/
.col-header-home1 {
    padding-top: 48px !important;
}
.titu-hero {
    width: 481px;
    font-family: 'Mont';
    font-size: var(--subtitu-grd);
    font-weight: 700;
    text-align: left;
    line-height: 35px;
}

.txt-hero {
    width: 434px;
    margin-bottom: 18px !important;
    font-family: 'Mont';
    font-size: var(--parrafo);
    font-weight: 400;
    line-height: 17px;
    color: var(--azul-osc);
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--azul-med);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--azul-osc);
}

.btn-hero {
    padding: 11px;
    font-family: 'Mont';
    font-size: var(--parrafo);
    font-weight: 500;
    color: var(--azul-osc);
    border: 2px solid var(--azul-osc);
    border-radius: 15px;
    transition: all 0.3s ease;
}
.btn-hero:hover {
    border: 2px solid var(--azul-osc);
    color: var(--blanco);
    background-color: var(--azul-osc);
}

/*-------------------------------------
    4.  Propiedades
--------------------------------------*/
.cuadro-somos {
    margin-top: -62px;
    margin-bottom: 20px;
}
.titu-propie {
    margin-bottom: 0 !important;
    font-family: 'Mont';
    font-size: var(--titulo);
    color: var(--azul-osc);
}
.subtitu-propie {
    margin-bottom: 13px !important;
    font-family: 'Mont';
    font-size: var(--subtitu);
    font-style: italic;
    text-transform: uppercase;
    color: var(--azul-osc);
}
.txt-propie {
    margin-bottom: 0 !important;
    font-family: 'Mont';
    font-weight: 400;
    font-size: var(--parrafo);
    text-align: center;
    line-height: 18px;
    color: var(--azul-osc);
}
.txt-propie1 {
    width: 257px;
    margin: 29px auto 0 !important;
    padding: 7px;
    font-family: 'Mont';
    font-size: var(--parrafo);
    font-weight: 700;
    text-align: center;
    line-height: 18px;
    color: var(--blanco);
    background-color: var(--verde-cla);
}
.cat-item {
    text-decoration: none;
}
.cat-item h6 {
    font-family: 'Mont';
    font-size: var(--parrafo);
    font-weight: 700;
    color: var(--azul-osc);
}

.cat-item div {
    background: #FFFFFF;
    border: 1px dashed rgba(93, 139, 20, 0.3);
    transition: .5s;
}

.cat-item:hover div {
    background: var(--verde-osc);
    border-color: transparent;
}

.cat-item div * {
    transition: .5s;
}

.cat-item:hover div * {
    color: var(--blanco) !important;
}

.cat-item span {
    color: var(--verde-cla);
}

.property-item .border-top {
    border-top: 1px dashed rgba(119, 143, 85, 0.6) !important;
}
.property-item .border-end {
    border-right: 1px dashed rgba(119, 143, 85, 0.6) !important;
}
.property-item .border-bottom {
    border-bottom: 1px dashed rgba(119, 143, 85, 0.6) !important;
}

.icon-invert {
    width: 104px;
}

.btn-invert {
    display: block;
    margin: auto;
    width: 22%;
    padding: 11px;
    font-family: 'Mont';
    font-size: var(--parrafo);
    font-weight: 500;
    line-height: 18px;
    color: var(--azul-osc);
    border: 2px solid var(--azul-osc);
    border-radius: 15px;
    transition: all 0.3s ease;
}
.btn-invert:hover {
    border: 2px solid var(--azul-osc);
    color: var(--blanco);
    background-color: var(--azul-osc);
}

/*-------------------------------------
    5.  Fraccionamiento destacado
--------------------------------------*/
.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: var(--verde-osc);
    transform: skew(20deg);
    z-index: 1;
}

.titu-noso {
    width: 568px;
    font-family: 'Mont';
    font-size: var(--subtitu-grd);
    font-weight: 800;
    line-height: 35px;
    color: var(--azul-osc);
}

.txt-fraccio-destaca, .punto-fraccio-destaca {
    width: 507px;
    font-family: 'Mont';
    font-size: var(--parrafo);
    line-height: 18px;
    color: var(--azul-osc);
}

.check-noso {
    color: var(--verde-osc) !important;
}

.btn-somos {
    font-family: 'Mont';
    padding: 11px;
    color: var(--azul-osc);
    font-weight: 500;
    border: 2px solid var(--azul-osc);
    border-radius: 15px;
    transition: all 0.3s ease;
}
.btn-somos:hover {
    border: 2px solid var(--azul-osc);
    color: var(--blanco);
    background-color: var(--azul-osc);
}

/*-------------------------------------
    6.  Lista propiedades
--------------------------------------*/
.titu-propies {
    text-align: center;
    text-transform: uppercase;
}
.titu-propies1 {
    font-family: 'Mont';
    font-size: var(--parrafo);
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 9px;
    color: var(--verde-osc);
}
.titu-propies2 {
    font-family: 'Mont';
    font-size: var(--titulo);
    font-weight: 900;
    line-height: 18px;
    color: var(--azul-osc);
}

.txt-propies {
    width: 664px;
    margin: auto;
    margin-bottom: 0 !important;
    font-family: 'Mont';
    font-size: var(--parrafo);
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    color: var(--azul-osc);
}

.btn-list-propies {
    padding: 10px;
    color: var(--azul-osc);
    font-size: 14px;
    font-weight: 500;
    border: 1px solid var(--azul-osc);
    border-radius: 15px;
    transition: all 0.3s ease;
}

.btn-list-propies:hover, .btn-list-propies.active {
    border: 1px solid var(--azul-osc);
    color: var(--blanco);
    outline: rgba(11, 38, 53, 0.3);
    background-color: var(--azul-osc);
}

.sena-propies {
    background-color: var(--azul-osc);
}

.tab-propies .property-item .position-relative div:nth-child(3),
.tab-propies .property-item h5 {
    font-family: 'Mont';
    font-size: var(--parrafo);
    color: var(--verde-osc) !important;
}
.tab-propies .property-item h5 {
    margin-top: 1px;
    margin-bottom: 0 !important;
}
.tab-propies .property-item .p-4 a {
    font-family: 'Mont';
    font-size: var(--parrafo-grd);
    color: var(--azul-osc);
}

.tab-propies .property-item .p-4 p i,
.tab-propies .property-item .d-flex small i {
    color: var(--verde-osc) !important;
}
.tab-propies .property-item .d-flex small {
    font-family: 'Mont';
    font-size: 12px;
    line-height: 14px;
    color: var(--azul-osc);
}

.btn-mas-propies {
    padding: 11px;
    font-family: 'Mont';
    color: var(--azul-osc);
    font-weight: 500;
    border: 2px solid var(--azul-osc);
    border-radius: 15px;
    transition: all 0.3s ease;
}
.btn-mas-propies:hover {
    color: var(--blanco);
    border: 2px solid var(--azul-osc);
    background-color: var(--azul-osc);
}

/*-------------------------------------
    7.  Testimonios
--------------------------------------*/
.titu-testimo {
    margin-top: -56px;
    margin-bottom: 0 !important;
    font-family: 'Mont';
    font-size: var(--titulo);
    font-weight: 600;
    text-align: center;
    color: var(--azul-med);
}

.titu-testimo span {
    font-size: 53px !important;
}

.txt-testimo {
    font-family: 'Mont';
    font-size: var(--parrafo);
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: var(--azul-osc);
}
.item-testimo {
    background-color: #eaf3dc;
}
.item-testimo p {
    font-family: 'Mont';
    font-size: var(--parrafo);
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: var(--azul-osc);
}
.item-testimo h6 {
    font-family: 'Mont';
    font-size: 14px;
    font-weight: 800;
    color: var(--azul-osc);
}
.item-testimo small {
    font-family: 'Mont';
    font-size: 12px;
    font-weight: 400;
    color: var(--azul-med);
}

.testimonial-carousel .testimonial-item .border {
    border: 1px dashed rgba(119, 143, 85, 0.3) !important;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--azul-med);
    border-radius: 40px;
    font-size: 20px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--azul-osc);
}

/*=====================================
  B.  Portafolio
=======================================*/
/*-------------------------------------
    14. Hero Portafo
--------------------------------------*/
.titu-hero-protafo {
    font-family: 'Mont';
    font-size: var(--titulo-grd);
    font-weight: 700;
    text-align: left;
    line-height: 58px;
}

.titu-hero-terre {
    width: 307px;
}

/*-------------------------------------
    15. Filtro Portafo
--------------------------------------*/
.wrapper-geolocaliza {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 0;
}
.list-fraccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}
.col-geolocaliza1 {
    -ms-flex: 0 0 42%;
        flex: 0 0 42%;
    max-width: 100%;
    height: 353px;
    overflow: hidden;
}
.col-geolocaliza2 {
    -ms-flex: 0 0 56%;
        flex: 0 0 56%;
    max-width: 100%;
    height: 487px;
    overflow-y: scroll;
}

.mapa-fraccion video {
    border: 3px dashed var(--verde-cla) !important;
    border-radius: 21px;
}

.btn-fraccion {
    -ms-flex: 0 0 43%;
        flex: 0 0 43%;
    max-width: 100%;
    margin: 12px;
    border: 2px solid var(--verde-osc);
    border-radius: 15px;
    background: transparent;
    -webkit-box-shadow: 7px 7px 13px -2px rgba(41, 77, 90, 0.69);
       -moz-box-shadow: 7px 7px 13px -2px rgba(41, 77, 90, 0.69);
            box-shadow: 7px 7px 13px -2px rgba(41, 77, 90, 0.69);
    transition: all 0.3s ease;
    overflow: hidden;
}
.btn-fraccion-none {
    border: none;
}
.contain-fraccion-img {
    height: 143px;
    margin-bottom: 9px;
    overflow: hidden;
}
.btn-fraccion1 {
    -ms-flex: 0 0 89%;
        flex: 0 0 89%;
    max-width: 100%;
}


.btn-fraccion:hover p {
    color: var(--blanco);

}
.btn-fraccion:hover, .btn-fraccion.active {
    background: var(--verde-osc);
}
.btn-fraccion img {
    display: block;
    width: 276px;
    height: 100%;
    margin: auto;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
.btn-fraccion:hover img {
    transform: scale(1.1);
}

.direcc-protafo {
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    color: var(--verde-osc);
}

.btn-fraccion .property-item h5 {
    font-family: 'Mont';
    font-size: 14px;
    color: var(--verde-osc) !important;
}
.btn-fraccion .property-item h5 {
    margin-top: 1px;
    margin-bottom: 0 !important;
}
.nom-direcc  {
    font-family: 'Mont';
    font-size: var(--parrafo-grd);
    color: var(--azul-osc);
}

.btn-fraccion .property-item .p-4 a i,
.btn-fraccion .property-item .d-flex small i {
    color: var(--verde-osc) !important;
}
.btn-fraccion .property-item .d-flex small {
    font-family: 'Mont';
    font-size: 12px;
    line-height: 14px;
    color: var(--azul-osc);
}

.btn-fraccion:hover .property-item .p-4 a,
.btn-fraccion.active .property-item .p-4 a,
.btn-fraccion:hover .property-item h5,
.btn-fraccion.active .property-item h5,
.btn-fraccion:hover .property-item .p-4 a i,
.btn-fraccion.active .property-item .p-4 a i,
.btn-fraccion:hover p,
.btn-fraccion.active p {
    color: var(--blanco) !important;
}

.property-item .border-top {
    border-top: 1px dashed rgba(119, 143, 85, 0.6) !important;
}

.btn-fraccion:hover .property-item .border-top,
.btn-fraccion.active .property-item .border-top,
.btn-fraccion:hover .property-item .border-bottom,
.btn-fraccion.active .property-item .border-bottom {
    border-top: 1px dashed var(--blanco) !important;
}
.btn-fraccion .property-item .border-end {
    border-right: 1px dashed var(--blanco) !important;
}
.btn-fraccion:hover .property-item .border-bottom,
.btn-fraccion.active .property-item .border-bottom {
    border-bottom: 1px dashed var(--blanco) !important;
}

.btn-fraccion:hover .property-item .border-end,
.btn-fraccion.active .property-item .border-end {
    border-right: 1px dashed var(--blanco) !important;
}

.btn-fraccion:hover .property-item .d-flex small i,
.btn-fraccion.active .property-item .d-flex small i,
.btn-fraccion:hover .property-item .d-flex small,
.btn-fraccion.active .property-item .d-flex small {
    color: var(--blanco) !important;
}

.titus-fraccion {
    font-family: 'Mont';
    font-size: var(--parrafo-grd);
    font-weight: 700;
    text-align: center;
    color: var(--azul-osc) !important;
}
.direcc-fraccion {
    width: 152px;
    font-size: 14px !important;
    text-align: left !important;
    line-height: 16px;
    color: var(--verde-osc) !important;
}

.info-fraccion {
    width: 229px;
    margin: 18px auto;
}
.icon-dire {
    color: var(--verde-osc) !important;
}

.col-fraccionas {
    margin-bottom: 10px;
}

.info-fraccion a {
    display: block;
    width: 100%;
    margin: auto;
    padding: 9px;
    font-family: 'Mont';
    font-size: var(--parrafo);
    font-weight: 700;
    text-align: center;
    color: var(--azul-osc);
    border: 2px solid var(--azul-osc);
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.5s ease;
}
.info-fraccion a:hover {
   color: var(--blanco);
    border: 2px solid var(--azul-osc);
    background-color: var(--azul-osc);
}

.infor-fraccion {
    display: flex;
    align-items: center;
}
.infor-fraccion p {
    -ms-flex: 0 0 49%;
        flex: 0 0 49%;
    max-width: 100%;
    padding: 0 7px;
    font-size: 14px !important;
    line-height: 16px;
    color: var(--verde-osc) !important;
    text-align: center !important;
}
.infor-fraccion p:nth-child(1) {
    border-right: 1px dashed rgba(119, 143, 85, 0.6) !important;
}
.infor-fraccion:hover p:nth-child(1),
.btn-fraccion.active .infor-fraccion p:nth-child(1) {
    border-right: 1px dashed var(--blanco) !important;
}
/*-------------------------------------
    16. Agendar Portafo
--------------------------------------*/
.titu-agenda {
    font-size: var(--titulo);
    line-height: 42px;
    color: var(--azul-osc);
}

.btn-llamar {
    padding: 14px;
    color: var(--blanco);
    font-weight: 500;
    border: 2px solid var(--verde-cla);
    border-radius: 6px;
    background-color: var(--verde-cla);
    transition: all 0.3s ease;
}
.btn-llamar:hover {
    color: var(--blanco);
    border: 2px solid var(--verde-cla);
    background-color: var(--verde-cla);
}

.btn-agendar {
    padding: 14px;
    color: var(--blanco);
    font-weight: 500;
    border: 2px solid var(--azul-osc);
    border-radius: 6px;
    background-color: var(--azul-osc);
    transition: all 0.3s ease;
}
.btn-agendar:hover {
    color: var(--blanco);
    border: 2px solid var(--azul-osc);
    background-color: var(--azul-osc);
}

/*=====================================
  C.  Servicios
=======================================*/
/*-------------------------------------
    17. Hero Servicios
--------------------------------------*/
.container-hero-servis {
    padding: 0;
    background: url("../img/3-servicios/bg-hero-terres.webp") center center no-repeat;
    background-size: cover;
}

.contain-hero-somos {
    width: 100%;
    padding: 194px 349px 146px;
    background-color: rgba(44, 67, 7, 0.38);
}

.txt-hero-somos {
    margin-bottom: 4px;
    font-family: 'Mont';
    font-size: var(--titulo-grd-1);
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    letter-spacing: 7px;
    color: var(--azul-osc);
}

.txt-hero-somos span {
    font-size: 48px;
}

.titu-hero-somos {
    margin: auto;
    font-family: 'Mont';
    font-size: var(--subtitu);
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: var(--azul-osc);
}

/*-------------------------------------
    18. Contenido servicios
--------------------------------------*/
.col-somos:nth-child(2) {
    padding-left: 32px;
}

.titu-somos {
    text-align: left;
    text-transform: uppercase;
}
.titu-somos1 {
    font-family: 'Mont';
    font-size: var(--parrafo);
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 9px;
    color: var(--verde-osc);
}
.titu-somos2 {
    font-family: 'Mont';
    font-size: var(--titulo);
    font-weight: 900;
    line-height: 18px;
    color: var(--azul-osc);
}

.underline-somos {
    margin-top: 1px;
}

.txt-somos {
    width: 394px;
    font-size: var(--parrafo);
    line-height: 18px;
    color: var(--azul-med);
}

/*-------------------------------------
    19. Credenciales
--------------------------------------*/
.wrapper-creden {
    padding: 0;
}
.container-creden {
    background-color: var(--verde-cla);
}
.row-creden {
    justify-content: center;
    padding: 31px 0 !important;
}
.col-creden {
    margin: 0 12px;
    padding: 3px;
}
.contain-creden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 221px;
    border-radius: 100%;
    background-color: #294d5a;
    -webkit-box-shadow: 5px 4px 10px 3px rgba(0,0,0,0.45);
       -moz-box-shadow: 5px 4px 10px 3px rgba(0,0,0,0.45);
            box-shadow: 5px 4px 10px 3px rgba(0,0,0,0.45);
}
.num-creden {
    margin: 0;
    font-size: var(--subtitu);
    font-weight: 700;
    text-align: center;
    color: var(--blanco);
}
.txt-creden {
    margin: 0;
    font-family: 'Mont';
    font-size: var(--subtitu);
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: var(--blanco);
}

/*-------------------------------------
    20. Misión/Visión
--------------------------------------*/
.wrapper-mis-vis {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background: url("../img/3-servicios/fonod-2.webp") center center no-repeat;
}
.container-mis-vis {
    max-width: 100vw;
}
.row-mis-vis {
    justify-content: center
}

.col-mis-vis {
    padding: 0 22px;
}
.col-mis-vis1 {
    border-right: 1px solid var(--blanco);
}

.titu-mis-vis {
    font-size: var(--titulo);
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    color: var(--blanco);
}
.underline-mis-mis {
    width: 319px;
    height: 2px;
    margin: -2px auto 12px !important;
}
.txt-mis-vis {
    font-size: var(--parrafo);
    line-height: 18px;
    text-align: center;
    color: var(--blanco);
}

/*-------------------------------------
    21. Valores
--------------------------------------*/
.wrapper-valores {
    padding: 0 !important;
    margin-bottom: -48px !important;
}

.container-valores {
    max-width: 100vw;
}

.col-valores1 {
    background: url("../img/3-servicios/valor-bg.webp") center center no-repeat;
    background-size: cover;
}
.col-valores2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
}

.titu-valores {
    margin-bottom: 35px;
    font-size: var(--titulo);
    line-height: 42px;
    color: var(--azul-osc);
}

.item-valores {
    margin-bottom: 17px;
}

.titu-item-valores {
    display: flex;
    align-items: center;
}

.titu-item-valores img {
    -ms-flex: 0 0 11%;
        flex: 0 0 11%;
    max-width: 11%;
}
.titu-item-valores p {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 100%;
    margin-bottom: 0 !important;
    font-size: var(--subtitu);
    font-weight: 700;
    line-height: 42px;
    color: var(--verde-cla)
}

.txt-item-valores {
    width: 413px;
    margin: 0 !important;
    font-size: var(--parrafo);
    line-height: 18px;
    color: var(--azul-osc);
}

/*=====================================
  D.  Promociones
=======================================*/
/*-------------------------------------
    22. Contenido promociones
--------------------------------------*/
.container-promos {
    max-width: 100vw;
}
.col-promociones {
    padding: 0 !important;
}

.row-promociones {
    justify-content: center;
}

.col-promociones {
    -ms-flex: 0 0 47%;
        flex: 0 0 47%;
    max-width: 100%;
    margin: 10px;
}

.titus-promociones {
    margin-bottom: 20px;
    font-size: var(--titulo);
    text-align: center;
    line-height: 42px;
    color: var(--azul-osc);
}

.contain-front-promo {
    display: grid;
    align-content: space-between;
    width: 100%;
    height: 100%;
    padding: 25px 18px;
    background: #618f18;
    background: -webkit-linear-gradient(180deg, rgba(97, 143, 24, 0.69) 0%, rgba(11, 38, 53, 0.89) 80%);
    background: -moz-linear-gradient(180deg, rgba(97, 143, 24, 0.69) 0%, rgba(11, 38, 53, 0.89) 80%);
    background: linear-gradient(180deg, rgba(97, 143, 24, 0.69) 0%, rgba(11, 38, 53, 0.89) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#618F18", endColorstr="#0B2635", GradientType=0);
}
.contain-back-promo {
    display: grid;
    align-content: space-between;
    width: 100%;
    height: 100%;
    padding-top: 67px;
    background: url("../img/4-promociones/textura-pq.webp") 0 0 no-repeat;
    background-position: center;

}

.head-front-promo {
    display: flex;
    align-items: center;
    width: 100%;
}

.titu-promo-front,
.titu-promo-back {
    font-family: 'Mont';
}

.titu-promo-front {
    font-size: var(--titulo);
    text-transform: uppercase;
    line-height: 37px;
    color: var(--blanco);
}
.titu-promo-front {
    font-size: var(--titulo-grd-1);
    line-height: 42px;
    color: var(--blanco);
}

.titu-promo-back {
    margin-bottom: -50px;
    font-size: var(--titulo-grd-1);
    line-height: 42px;
    text-align: center;
    color: var(--blanco);
}

.logo-promo-front {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
}

.titu-body-front {
    font-size: var(--titulo);
    line-height: 42px;
    color: var(--blanco);
}

.subtitu-body-front {
    font-size: var(--subtitu);
    text-transform: uppercase;
    color: var(--verde-cla);
}

.contain-back-body,
.contain-back-footer {
    margin: auto !important;
}

.head-back-promo,
.body-back-promo {
    padding: 0 64px;
}

.footer-back-promo {
    padding: 0 0 0 10px;
    border-top: 1px dashed var(--blanco);
}

.col-back-promo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
}
.col-back-promo1,
.col-back-promo2 {
    border-right: 1px dashed var(--blanco);
}
.col-back-promo2 {
    padding-left: 25px;
}

.col-precio-promo img {
    display: block;
    width: 37px;
    height: auto;
    margin: auto;
}

.txt-descrip-promo {
    margin: 0 !important;
    font-size: var(--parrafo-grd-1);
    font-weight: 400;
    text-align: center;
    line-height: 21px;
    color: var(--blanco);
}

.txt-precio-promo1 {
    text-decoration: line-through;
}

.txt-precio-promo {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
    color: var(--verde-cla);
}

.txt-tamano-promo {
    margin: 0 !important;
    font-size: var(--parrafo);
    line-height: 18px;
    color: var(--verde-cla);
}

.txt-info-promo {
    margin-bottom: 0 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: var(--verde-cla) !important;
}

.btn-promo {
    display: block;
    width: 80%;
    margin: auto;
    padding: 9px 14px;
    font-weight: 500;
    text-align: center;
    color: var(--blanco);
    border: 2px solid var(--blanco);
    border-radius: 6px;
    background-color: transparent;
    transition: all 0.3s ease;
}
.btn-promo:hover {
    color: var(--azul-osc);
    border: 2px solid var(--blanco);
    background-color: var(--blanco);
}

/*=====================================
  E.  Contacto
=======================================*/
/*-------------------------------------
    23. Contenido contacto
--------------------------------------*/
.icono-contact i {
    color: var(--verde-cla);
}

.btn-contacto {
    display: block;
    width: 80%;
    margin: auto;
    padding: 9px 14px;
    font-weight: 500;
    text-align: center;
    color: var(--azul-osc);
    border: 2px solid var(--azul-osc);
    border-radius: 6px;
    background-color: transparent;
    transition: all 0.3s ease;
}
.btn-contacto:hover {
    color: var(--blanco);
    border: 2px solid var(--azul-osc);
    background-color: var(--azul-osc);
}

/*=====================================
  F.  Proyectos
=======================================*/
/*-------------------------------------
    24. Hero proyectos
--------------------------------------*/
.container-hero-servis {
    padding: 0;
    background: url("../img/3-servicios/bg-hero-terres.webp") center center no-repeat;
    background-size: cover;
}

.contain-hero-proyectos {
    width: 100%;
    padding: 194px 349px 129px;
    background-color: rgba(44, 67, 7, 0.38);
}

.txt-hero-proyectos {
    margin-bottom: 4px;
    font-family: 'Mont';
    font-size: var(--subtitu);
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: var(--blanco);
}

.titu-hero-proyectos {
    margin: auto;
    margin-top: 48px;
    font-family: 'Mont';
    font-size: var(--titulo-grd);
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: var(--azul-osc);
}

/*-------------------------------------
    25. Contenido proyectos
--------------------------------------*/
.proyectos-carousel .owl-dots .owl-dot span {
    width: 18px;
    height: 18px;
    border: 3px solid var(--verde-cla);
    border-radius: 100%;
    background-color: transparent;
}
.proyectos-carousel .owl-dots .owl-dot:hover span,
.proyectos-carousel .owl-dots .owl-dot.active span {
    background-color: var(--verde-cla);
}

.titu-proye {
    text-align: left;
    text-transform: uppercase;
}
.titu-proye1 {
    font-family: 'Mont';
    font-size: var(--parrafo);
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 9px;
    color: var(--verde-osc);
}
.titu-proye2 {
    font-family: 'Mont';
    font-size: var(--titulo);
    font-weight: 900;
    line-height: 18px;
    color: var(--azul-osc);
}

.underline-somos {
    margin-top: 1px;
}

.txt-proyec {
    margin-bottom: 7px;
    font-size: var(--parrafo);
    line-height: 18px;
    color: var(--azul-med);
}
.video-proyec {
    margin-top: 90px;
}

.video-proyec video {
    width: auto !important;
    height: auto !important;
}

/* .list-ventajas-proyec {
    padding-left: 0;
} */
.item-ventajas-proyec {
    color: var(--verde-osc);
}
.list-ventajas-proyec-2 {
    margin-top: 60px;
}
.titus-item-proyec {
    font-family: 'Mont';
    font-size: var(--parrafo-grd);
    font-weight: 800;
    line-height: 23px;
    color: var(--azul-osc);
}

.contain-btns-proyec {
    margin-top: 21px;
}

.btn-proyec {
    margin: 0 13px;
    padding: 11px;
    font-family: 'Mont';
    font-size: var(--parrafo);
    text-align: center;
    line-height: 17px;
    color: var(--azul-osc);
    border: 3px solid var(--azul-osc);
    border-radius: 10px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}
.btn-proyec:hover {
    color: var(--blanco);
    border: 3px solid var(--azul-osc);
    background-color: var(--azul-osc);
}






/*=====================================
  Footer
=======================================*/
.bg-footer {
    background-color: var(--azul-osc);
}

.logo-footer {
    display: block;
    width: 267px;
    height: auto;
    margin: auto;
    margin-top: 17%;
}

.titu-foot {
    font-family: 'Mont';
    font-size: var(--parrafo-grd);
    font-weight: 600;
    color: var(--blanco);
}

.txt-foot {
    font-family: 'Mont';
    font-size: var(--parrafo-tlf);
    font-weight: 400;
    color: var(--blanco);
}
.firma-foot {
    font-family: 'Mont';
    font-size: 14px;
    font-weight: 400;
    color: var(--blanco);
}

.dev-link {
    font-family: 'Mont';
    font-size: 14px;
    font-weight: 400;
    color: var(--blanco);
    transition: all 0.3s ;
}
.dev-link:hover {
    color: var(--verde-osc);
}

.btn-snd-foot, .btn-snd-foot:hover {
    color: var(--blanco);
    background-color: var(--verde-osc);
}

.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    font-family: 'Mont';
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--blanco);
    transition: .3s;
}

.link-foot::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .form-control {
    border-color: rgba(255,255,255,0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


/*** Icon ***/
.icon {
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF !important;
    border-radius: 50px;
    border: 1px dashed var(--verde-cla) !important;
}


/*** About ***/



/*** Category ***/



/*** Property List ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.property-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}

.property-item img {
    transition: .5s;
}

.property-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item {
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    transition: .5s;
}

.team-item .btn {
    color: var(--primary);
    background: #FFFFFF;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
}

.team-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Testimonial ***/
.testimonial-carousel {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 576px) {
    .testimonial-carousel {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}